@import './breakpoint.scss';

h3 {
    font-family: 'sans-serif'
}
p {
    font-family: 'Arial, sans-serif'
}
a {
    color: #000;
}



#header {
    $h1FontSize: 4;
    $padding: 20;
    @function fontsizeToPx($n) {
        @return $n * 16;
    }

    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #33f58b;
    padding: $padding + px;

    .mainTitle {
        margin: 0;
        line-height: 1;
        font-size: $h1FontSize/2 + rem;

        @include breakpoint('desktop'){
            font-size: $h1FontSize + rem;
        }
    }
    .subTitle {
        font-family: Montserrat, sans-serif;
        margin-top: 0;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
                            
        @include breakpoint('ftablet'){
            display: block;
        }
    
        ul {
            li {
                float: left;
                margin: 0 10px;
                list-style: none;

                @include breakpoint('desktop'){
                    margin: 0 20px;
                }
                
                a {
                    box-shadow: none;
                    font-size: $h1FontSize/2/2.5 + rem;
                    line-height: (fontsizeToPx($h1FontSize/2) + $padding * 2) + px;

                    @include breakpoint('desktop'){
                        font-size: $h1FontSize/2.5 + rem;
                        line-height: (fontsizeToPx($h1FontSize) + $padding * 2) + px;
                    }
                }
            }
        }
    }
}

main {
    .topIntro {
        height: 50vh;
        color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

        @include breakpoint('tablet'){
            height: 80vh;
        }
    
        .inner {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            background-image: url(../images/home2-1600x865.jpg);
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            // transform: scale(1.2);
            // transition: all 1s cubic-bezier(.7,0,.3,1);

            .section {
                height: 50vh;
            }

            .trigger {
                height: 0;
                // background-color: #fff;
                // font-size: 20px;
                // color: #000;
            }

            .colorBg {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #33f58b;
            }

            .mainText {
                position: relative;
                top: 0;
                width: 90%;
                margin: auto;
                font-size: 40px;
                text-align: center;
                line-height: 1.2;

                @include breakpoint('tablet'){
                    font-size: 80px;
                }
            }
        }
    }

    .work {
        position: relative;
        height: 100vh;

        .inner {
            #bird {
                position: absolute;
                width: 25%;
                display: none;
                transform: translateY(-90%);

                @include breakpoint('tablet'){
                    display: block;
                }

                div {
                    padding-top: 66%;
                }

                .svg {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
.mainBg {
    background-image: url(../images/background.gif);
    background-attachment: fixed;
}
.subBg {
    background: #fff;
}
#footer {
    padding: 4rem;
    background: #f3f3f3;
    text-align: center;
}
