h3 {
  font-family: 'sans-serif';
}

p {
  font-family: 'Arial, sans-serif';
}

a {
  color: #000;
}

#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #33f58b;
  padding: 20px;
}

#header .mainTitle {
  margin: 0;
  line-height: 1;
  font-size: 2rem;
}

@media (min-width: 1049px) {
  #header .mainTitle {
    font-size: 4rem;
  }
}

#header .subTitle {
  font-family: Montserrat, sans-serif;
  margin-top: 0;
}

#header nav {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

@media (min-width: 480px) {
  #header nav {
    display: block;
  }
}

#header nav ul li {
  float: left;
  margin: 0 10px;
  list-style: none;
}

@media (min-width: 1049px) {
  #header nav ul li {
    margin: 0 20px;
  }
}

#header nav ul li a {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.8rem;
  line-height: 72px;
}

@media (min-width: 1049px) {
  #header nav ul li a {
    font-size: 1.6rem;
    line-height: 104px;
  }
}

main .topIntro {
  height: 50vh;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

@media (min-width: 778px) {
  main .topIntro {
    height: 80vh;
  }
}

main .topIntro .inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

main .topIntro .inner .section {
  height: 50vh;
}

main .topIntro .inner .trigger {
  height: 0;
}

main .topIntro .inner .colorBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #33f58b;
}

main .topIntro .inner .mainText {
  position: relative;
  top: 0;
  width: 90%;
  margin: auto;
  text-align: left;
  line-height: 1.5;
}

main .topIntro .inner .mainText h2 {
  margin: 50px 0 0 10%;
  font-size: 30px;
}

@media (min-width: 778px) {
  main .topIntro .inner .mainText h2 {
    font-size: 60px;
    margin: 120px 0 0 40px;
  }
}

@media (min-width: 1049px) {
  main .topIntro .inner .mainText h2 {
    font-size: 80px;
    margin: 150px 0 0 80px;
  }
}

main .topIntro .inner .mainText .shape {
  position: absolute;
  top: -50px;
  z-index: 2;
  width: 140px;
  height: 140px;
  border-radius: 36% 64% 63% 37%/54% 60% 44% 48%;
  overflow: hidden;
  background-color: #33f58b;
  white-space: nowrap;
  -webkit-animation: 3s linear infinite slime;
          animation: 3s linear infinite slime;
}

@media (min-width: 778px) {
  main .topIntro .inner .mainText .shape {
    top: -120px;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1049px) {
  main .topIntro .inner .mainText .shape {
    top: -150px;
    width: 400px;
    height: 400px;
  }
}

main .topIntro .inner .mainText .shape span {
  color: #fbff00;
}

@-webkit-keyframes slime {
  0% {
    border-radius: 36% 64% 63% 37%/54% 60% 44% 48%;
  }
  25% {
    border-radius: 73% 35% 55% 60%/65% 44% 62% 56%;
  }
  50% {
    border-radius: 75% 35% 35% 72%/58% 51% 56% 49%;
  }
  75% {
    border-radius: 71% 52% 69% 31%/69% 52% 79% 58%;
  }
  100% {
    border-radius: 36% 64% 63% 37%/54% 60% 44% 48%;
  }
}

@keyframes slime {
  0% {
    border-radius: 36% 64% 63% 37%/54% 60% 44% 48%;
  }
  25% {
    border-radius: 73% 35% 55% 60%/65% 44% 62% 56%;
  }
  50% {
    border-radius: 75% 35% 35% 72%/58% 51% 56% 49%;
  }
  75% {
    border-radius: 71% 52% 69% 31%/69% 52% 79% 58%;
  }
  100% {
    border-radius: 36% 64% 63% 37%/54% 60% 44% 48%;
  }
}

main .topIntro .inner .mainText .base {
  position: relative;
  z-index: 1;
}

main .topIntro .inner .mainText .base span {
  color: #fff;
}

main .work {
  position: relative;
  height: 100vh;
}

main .work .inner #bird {
  position: absolute;
  width: 25%;
  display: none;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}

@media (min-width: 778px) {
  main .work .inner #bird {
    display: block;
  }
}

main .work .inner #bird div {
  padding-top: 66%;
}

main .work .inner #bird .svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mainBg {
  background-image: url(../images/background.gif);
  background-attachment: fixed;
}

.subBg {
  background: #fff;
}

#footer {
  padding: 4rem;
  background: #f3f3f3;
  text-align: center;
}
/*# sourceMappingURL=global.css.map */